/*news_bannerBox.css*/

#bannerBox{width: 100%;height: 100%;
background-image:url('../../../img/news1.jpg');
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
background-size: cover;}

